* {
  margin: 0;
  padding: 0;
}

#logo {
  display: flex;
  flex-direction: row;
}

header {
  width: 100%;
  position: fixed;
}

nav {
  height: 50px;
  background-color: #000;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav ul li {
  padding: 20px;
  list-style-type: none;
  text-align: center;
  color: #fff;
  font-size: 18px;
}

nav > ul > li > a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: font-size .5s, color .5s;
}

nav > ul > li > a:hover {
  color: #ff0000;
  font-size: 1.2rem;

}


body {
  width: 100%;
  height: 100%;
  background-image: url("./img/hero-bg.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;

}

#hero img {
  width: 80%;
  height: 80%;
  padding: 85px 0px 60px 0px;
}

section {
  width: 100vw;
  height: auto;
  min-height: 90vh;
  background-color: #000;
  color: #fff;
}

section h2 {
  font-size: 50px;
  padding-top: 50px;
}

#filter-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
  height: 50px;
  margin: 30px auto 30px auto;
}

#filter-menu a {
  font-size: 1.5rem;
  font-style: italic;
  color: #fff;
  transition: font-size .5s, color .5s;
}

#filter-menu a:hover {
  font-size: 1.7rem;
  color: #ff0000;
}

#folioGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
  margin: auto;
}

.folioImage > img {
  width: 100%;
  height: auto;
}

.box-shadow {
box-shadow: 0 6px 5px rgba(0,0,0,0.19), 0 4px 4px rgba(0,0,0,0.23);
background-color: #fcfcfc;
border-radius: 15px;
}

#form {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  margin: auto;
  text-align: justify;
  background-color: rgba(255,255,255,0.5);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#form input {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  padding: 8px;
  margin: 10px 0 10px 0;
}

.radio input label {
  display: flex;
}

#submit {
  width: 40%;
  padding: 15px !important;
  font-size: 1.5em !important;
  font-family: "Oswald", sans-serif !important;
  text-transform:uppercase;
  margin: 30px auto 20px auto !important;
  text-align: center;
  background-color: #aaa;
  transition: background-color .5s;
}

#submit:hover {
background-color: #ccc;
}

#submit:active {
  background-color: #ddd;
}

footer {
  background-color: #000;
  color: #fff;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100px;
}

.social img {
  width: 65px;
  height: 65px;
  padding: 15px;
  transition: width .5s, height .5s;
}

.social img:hover {
  width: 80px;
  height: 80px;
}
