* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

#logo {
  opacity: 0;
  display: flex;
  flex-direction: row;
  transition: opacity .5s ease;
}

header {
  width: 100%;
  position: fixed;
}

nav {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.navbar {
  background: transparent;
  transition: background .3s ease;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav ul li {
  padding: 20px;
  list-style-type: none;
  text-align: center;
  color: #fff;
  font-size: 24px;
  position: relative;
  top: -10px;
}

nav > ul > li > a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: font-size .5s, color .5s;
}

nav > ul > li > a:hover {
  color: #9E5FF6;
  font-size: 1.7rem;

}


body {
  width: 100%;
  height: 100%;
  background-image: url("./img/hero-bg.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  font-family: "Acme", sans-serif;
}

#hero img {
  width: 80%;
  height: 80%;
  padding: 85px 0px 60px 0px;
}

section {
  width: 100vw;
  height: auto;
  min-height: 90vh;
  color: #fff;
  padding-top: 5vh;
  padding-bottom: 15vh;
}

section h2 {
  font-size: 50px;
  padding-top: 50px;
}

#folio {
  padding-bottom: 200px;
}

#filter-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 50px;
  width: 600px;
  margin: 30px auto 30px auto;
}

#filter-menu a {
  font-size: 1.5rem;
  font-style: italic;
  color: #fff;
  transition: font-size .5s, color .5s;
  text-align: center;
  cursor: pointer;
  padding: 20px;
  text-transform: uppercase;
}

#filter-menu a:hover {
  font-size: 1.7rem;
  color: #9E5FF6;
}

#folioGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
  margin: auto;
  justify-content: center;
}

.folioImage {
  align-self: center;
}

.folioImage > img {
  width: 100%;
  height: auto;
}

.folio_logo, .folio_poster, .folio_other {
  display: block;
}

.box-shadow {
box-shadow: 0 6px 5px rgba(0,0,0,0.19), 0 4px 4px rgba(0,0,0,0.23);
background-color: #fcfcfc;
border-radius: 15px;
}

.flexRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: right !important;
}

#form {
  max-width: 50%;
  margin: auto;
  text-align: justify;
  background-color: rgba(255,255,255,.9);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  display: flex;
  flex-direction: column;
}

#form input {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  padding: 8px;
  margin: 10px 0 10px 0;
  width: 67%;
  font-family: "open sans", sans-serif;
  color: #767676;
  border: 1px solid #9E5FF6;
}

#form input::placeholder {
  color: #767676;
  opacity: 1;
}


#form label {
  color: #000;
  padding: 25px;
  width: 20%;
  font-family: "open sans", sans-serif;
}

#form h2 {
  color: #000;
  text-align: center;
  font-size: 2rem;
  padding-top: 20px;
  padding-bottom: 10px;
}

#form p {
  color: #000;
  padding: 0px 0px 25px 0px;
  font-style: italic;
  text-align: center;
  font-family: "open sans", sans-serif;
}

#form textarea {
  resize: none;
  width: 66.5%;
  padding: 10px;
  font-family: "open sans", sans-serif;
  color: #767676;
  border: 1px solid #9E5FF6;
}

#form select {
  padding-left: 15px;
  width: 67%;
  font-size: 1rem;
  color: #767676;
  background-color: #fff;
}
.selectdiv {
  position: relative;
  width: 100%;
  top: -66px;
  right: 35px;
}

.selectdiv:after {
    content: '>';
    color: #9E5FF6;
    right: 11px;
    top: 6px;
    height: 34px;
    padding: 15px 0px 0px 8px;
    border-left: 1px solid #9E5FF6;
    position: absolute;
    pointer-events: none;
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
display: none;
}

.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */

  display: block;
  width: 100%;
  /* max-width: 520px; */
  height: 50px;
  float: right;
  margin: 5px 0px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #9E5FF6;
  -ms-word-break: normal;
  word-break: normal;
}


#submit {
  width: 50% !important;
  padding: 15px !important;
  font-size: 1.7em !important;
  text-transform:uppercase;
  margin: 30px auto 20px auto !important;
  text-align: center;
  background-color: #000;
  color: #fff !important;
  transition: background-color .5s;
  border-radius: 8px;
  border: none;
  font-family: "acme", sans-serif !important;
  cursor: pointer;
}

#submit:hover {
background-color: #332e31;
}

#submit:active {
  background-color: #000;
}

.box-shadow {
box-shadow: 0 6px 5px rgba(0,0,0,0.19), 0 4px 4px rgba(0,0,0,0.23);
background-color: #fcfcfc;
border-radius: 15px;
}

#about {

}

#bio {
    width: 80vw;
    margin: auto;
    text-align: justify;
}
#mug {
    float: left;
}

#mug img {
  width: 400px;
  height: 400px;
  background-color: red;
  margin: 20px 20px 0px 20px;
}

footer {
  background-color: #000;
  color: #fff;
  font-family: 'open sans', sans-serif;
  font-size: .75rem;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100px;
  margin-top: 30px;
}

.social img {
  width: 65px;
  height: 65px;
  padding: 15px;
  transition: width .5s, height .5s;
}

.social img:hover {
  width: 80px;
  height: 80px;
}
